.review-form-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 26px;
  background: #6c6c6c;
  box-shadow: 0px 4px 20px rgb(0 0 0 / 25%);
  border-radius: 4px;
  width: 100%;
}

.review-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.review-input-field {
  display: flex;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 17px;
  width: 100%;
  box-shadow: 0px 0px 0px 1px #e1e1e1;
}

.review-input-field:focus {
  border: none;
  transition: outline 0.2s;
  outline: 2px solid rgb(167, 175, 209);
  outline-offset: 1px;
}

.review-input-field::placeholder {
  color: #9E9E9E;
}

.error-review-input-field {
  display: flex;
  height: 50px;
  background: #ffffff;
  border: none;
  border-radius: 4px;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 17px;
  max-width: 334px;
  width: 100%;
  box-shadow: 0px 0px 0px 1px rgb(220, 53, 69);
  transition: outline 0.2s;
}

.error-review-input-field:focus {
  outline: 2px solid rgba(220, 103, 53, 1);
  outline-offset: 1px;
}

.error-review-input-field::placeholder {
  color: #9e9e9e;
}

.required-field {
  max-width: 334px;
  width: 100%;
  padding: 0 10px;
  margin-top: -12px;
  margin-bottom: 12px;
  font-size: 14px;
  color: #b51424;
}

.review-button-submit {
  width: 100%;
  height: 50px;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: -0.015em;
  background-color: #ffc700;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.review-button-submit:hover {
  cursor: pointer;
  background-color: #ffe278;
}

@media (min-width: 576px) {
  .review-form-card {
    margin-bottom: 20px;
    padding: 20px 20px;
  }

  .review-input-field {
    max-width: none;
    padding: 0 15px;
  }

  .error-review-input-field {
    max-width: none;
    padding: 0 15px;
  }

  .required-field {
    max-width: none;
    padding: 0 15px;
  }
}

@media (min-width: 768px) {
  .review-form-card {
    margin-bottom: 40px;
    padding: 40px 40px;
  }
}

@media (min-width: 992px) {
  .review-button-submit {
    max-width: 400px;
  }
}
