.movie-details-container {
  display: flex;
  flex-direction: column;
  margin-top: 83px;
  padding: 0 10px 30px;
  width: 100%;
}

.movie-details-container h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 24px;
  letter-spacing: -0.015em;
}

@media (min-width: 576px) {
  .movie-details-container {
    padding: 0 20px 30px;
  }
}

@media (min-width: 768px) {
  .movie-details-container {
    margin: 93px auto 0;
  }

  .movie-details-container h2 {
    font-size: 36px;
  }
}

@media (min-width: 1200px) {
  .movie-details-container {
    padding: 0 40px 30px;
    max-width: 1200px;
    margin: 102px auto 0;
  }

  .movie-details-container h2 {
    font-size: 48px;
    margin-bottom: 25px;
  }
}
