* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #525252;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}